<div style="display: flex; gap: 8px; align-items: center">
  <button class="btn btn-primary" *ngIf="!open" (click)="toggle()">
    Add Task
  </button>

  <div *ngIf="open" style="margin-left: 8px">
    <form #taskForm="ngForm" (ngSubmit)="create(taskForm)">
      <div style="display: flex; gap: 8px">
        <div>
          <input
            placeholder="Title"
            name="title"
            [(ngModel)]="title"
            required
            minlength="3"
            maxlength="30"
            #titleCtrl="ngModel"
          />
          <div
            *ngIf="titleCtrl.touched && titleCtrl.invalid"
            style="color: red; font-size: 12px"
          >
            <span *ngIf="titleCtrl.errors?.['required']"
              >Title is required</span
            >
            <span *ngIf="titleCtrl.errors?.['minlength']"
              >Title must be at least 3 characters</span
            >
          </div>
        </div>

        <div>
          <input
            placeholder="Description"
            name="description"
            [(ngModel)]="description"
            required
            minlength="3"
            maxlength="30"
            #desCtrl="ngModel"
          />
          <div
            *ngIf="desCtrl.touched && desCtrl.invalid"
            style="color: red; font-size: 12px"
          >
            <span *ngIf="desCtrl.errors?.['required']"
              >Description is required</span
            >
            <span *ngIf="desCtrl.errors?.['minlength']"
              >Title must be at least 3 characters</span
            >
          </div>
        </div>

        <div>
          <input
            placeholder="Deadline"
            type="date"
            name="deadline"
            [(ngModel)]="deadline"
            [min]="minDate"
            required
            #deadlineCtrl="ngModel"
          />
          <div
            *ngIf="deadlineCtrl.touched && deadlineCtrl.invalid"
            style="color: red; font-size: 12px"
          >
            <span *ngIf="deadlineCtrl.errors?.['required']"
              >Deadline is required</span
            >
          </div>
        </div>

        <select name="status" [(ngModel)]="status" required>
          <option>Pending</option>
          <option>In Progress</option>
          <option>Completed</option>
        </select>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="taskForm.invalid"
        >
          Create
        </button>
        <button *ngIf="open" (click)="toggle()">cancel</button>
      </div>
    </form>
  </div>
</div>
